.EnterChallence {
    width: 100%;
    margin: 25px auto;
  }
  
  .LatestCampaigns {
    width: 100%;
    height: 50px;
    margin-top: 90px;
  
    h3 {
      color: #DE9B4A;
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 16.534px;
      padding-left: 60px;
    }
  }
  
 
  