.landing-Page{
    display: flex;
    flex-direction: column;
 ;
    .advert{
        width: 329px;
        height: 108px;
        align-self: center;
        display:block;
        position: absolute;
        top: 420.8px;
        background: none;
        
    }
}