.heading{
    margin: 7px auto;
    width: 100%;
    display: flex;
    text-decoration: none ;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    
    .faqs{
        color:#FD105B;
        font-weight: 700;
        font-size: 18px;
        text-decoration: none ;
    }
    .how-it-works-button{
        background-color: #Ff0000;
        padding: 7px 14px;
        border:none;
        border-radius: 7px;
        font-size: 14.15px;
        font-weight: 700;
    }
    .how-it-works-link{
        color: white;
        text-decoration: none ;
    }
}
