.challange-card-list{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    .latest{
        color: #FD105B;
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 20px
        ;
    }
}