.challenge-submit-header{
  .challenge-submit-header-div{
    height: 187px;
    width: 100%;
    .challenge-submit-card{
      height: 100%;
      width: 100%;
      img{
        height: 100%;
        width: 100%;
      }
    }

  }
}