.bottom-page{
    background: url("../../assets/Rectangle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    .enter-win{
        margin-bottom: 53.9px;
    }
    .beed-logo{
        position: relative;
        margin-top:100px;
        margin-bottom:29px ;
    }
}
