* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  /* Add your custom focus style here */
  /* Example: */
}
.error {
  color: red;
  text-align: center;
  font-size: 1em;
}
