@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.Signup {
  background: url(../../assets/MacBookAir.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 990px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .beedlogo {
    position: relative;
    width: 100%;
    
    img {
      margin-top: -120px;
      position: absolute;
      margin-left: 40px;
      width: 85px;
      height: 37px;
      flex-shrink: 0;
    }
  }

  .form-div {
    width: 332px;
    height: 580px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(10px);

    .image {
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 85px;
        height: 37px;
      }
    }

    .SignUp {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      h3 {
        color: #242424;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .input-list {
      display: flex;
      gap: 1.2rem;
      height: 60%;
      display: flex;
      flex-direction: column;

      .FirstName,
      .LastName,
      .email,
      .password,
      .confirmPassword {
        width: 80%;
        height: 2.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px auto;
        border-radius: 120px;
        border: 1px solid black;

        input {
          border: none;
          border-radius: none;
          outline: none;
        }
      }
    }

    .next {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 12px;

      button {
        width: 80%;
        height: 100%;
        margin: 20px auto;
        border: 2.279px solid #f00;
        background: #000;
        border-radius: 25.066px;
        color: #fff;
        font-family: Montserrat;
        font-size: 16.313px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.326px;
      }
    }

    .Already {
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.7em;
      h3 {
        color: #000;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.15px;
      }

      .Sign {
        .link {
          color: #de9b4a;
          font-family: Montserrat;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.15px;
          text-decoration: none;
        }
      }
    }

    .BsPerson,
    .RiMailLine,
    .GoEye {
      margin-right: 10px;
    }
  }

  .last {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .agree {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .agreetoArtic {
      width: 80%;
      color: #fff;
      font-family: Montserrat;
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
