 *{
 position: relative;
 
}
.top-page{
    border:none;
    background: linear-gradient(143deg, #FD105B 41.56%, #EE724B 81.73%);
    backdrop-filter: blur(8.285717964172363px);
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-style: normal;
    width:100vw
}




    .top-page{
        height: 472px;
        padding-left:28px;
        padding-top: .01px;
       
        .heading{
            margin:47.06px 0px 0px 0px;
            font-size: 30.09px;
            font-weight: 600;
            line-height: 20.036px; 
            letter-spacing: -0.301px;
            height: 77.5px;
            .header-secondline-styling{
                top: 9.07px;
                font-size: 27.583px;
                font-weight: 700;
                line-height: 20.036px;
        
            }
            .header-thirdline-styling{
                font-weight: 500;
                line-height: 20.036px; 
                letter-spacing: -0.201px;
                font-size: 20.06px;
                top:10px;
                color: #FFF;
                font-family:Poppins;
            }
                    
        }
        
        .play-icon-one{
            float:right;
            margin-top:30.12px;
        }
        .para{
            top:10px;
            font-size: 12.758px;
            font-weight: 500px;
            line-height:16.841px; 
            width:164px;
            height:34px; 
        }
        .spread-pics{
            float:right;
            padding-right:4.09px ;
            margin-top: -120px;
        }
        .faces{
            top:98px;
        }
        .play-icon-three{
            top: 98px;
            left:20px;
        }

        @media only screen and (max-width:360px) {
            .spread-pics{
               width:51%;
           
            }
        }

        button{
            top:65.13px;
            border-radius: 87.988px;
            background-color: #000;
            display: flex;
            border:none;
            width: 138px;
            height: 44.874px;
            padding: 13.198px 20.095px 12.318px 19.358px;
            justify-content: center;
            align-items: center;
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 12.318px;
            font-style: normal;
            font-weight: 700;
            line-height: 18.477px;
        }
    }
    
    

