.challange-card{
    background: url(../../assets/cardbackground.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 11.258px 11.258px;
    background: linear-gradient(178deg, rgba(0, 0, 0, 0.00) 1.57%, rgba(0, 0, 0, 0.59) 53.9%, #000 98.14%);
}