.SocialComponents {
    width: 70%;
    gap: 2em;
    height: 22%;
    padding-top: 1.3em;
  
    h3 {
      color: #FFF;
      font-size: 1em;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  
    .image-list {
      display: flex;
      gap: 0.7em;
      margin-top: 12px;
  
      .instram,
      .linkedin {
        width: 8px;
        height: 8px;
      }
    }
  }
  