.sign_Login {
  background: url(../../assets/loginbackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 50px;

  .beedlogo {
    position: relative;
    width: 100%;

    img {
      margin-top: 120px;
      position: absolute;
      margin-left: 40px;
      width: 85px;
      height: 37px;
      flex-shrink: 0;
    }
  }


  .sign-form-div {
    width: 50%;
    flex-shrink: 0;
    border-radius: 23.106px;
    background: #fff;
    margin-left: auto;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(10px);
    form{
      width: 100%;
    }
    .Already {
      width: 100%;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.7em;
      flex-direction: column;

      h3 {
        color: #000;
        font-family: "Montserrat", "sans-serif";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.15px;
      }
      .Sign {
        .link {
          color: #de9b4a;
          font-family: "Montserrat", sans-serif;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.15px;
          text-decoration: none;
        }
      }
    }

    .image {
      width: 100%;
      padding: 20px 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80px;
        height: 50px;
        flex-shrink: 0;
      }
    }

    .sign_LoginLogin {
      color: #242424;
      width: 190px;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 10.783px;
      font-style: normal;
      font-weight: 500;
      line-height: 127%;
      margin: 0 auto;
    }

    .sign_Logininput-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      gap: 1.2em;


      .sign_Loginemail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid #000;
        padding: 12px 0;
        width: 80%;
        border-radius: 24.619px;
        top: 20px;

        .sign_LoginRiMailLine {
          margin-right: 12px;
        }

        input {
          height: 70%;
          width: 80%;
          border: none;
          outline: none;
        }
      }

      .sign_Loginpassword {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid #000;
        padding: 12px 0;
        width: 80%;
        margin-top: 15px;
        border-radius: 24.619px;

        .sign_LoginGoEye {
          margin-right: 10px;  
        }

        input {
          height: 70%;
          width: 80%;
          margin-left: 10px;
          border: none;
          outline: none;
          font-size:16px;
        }

      }
    }
  }
  .sign-in-terms-and-condition{
    padding: 25px 0;
    margin-left: auto;
    width: 45%;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 11.47px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    span{
      a{
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
  .sign_Loginnext {
    width: 100%;
    display: flex;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
      width: 70%;
      border-radius: 27.846px;
      padding: 12px 0;
      background: #000;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: 0.362px;
    }
    .word{
      margin-top: 10px;
    }
    .text-error-sign{
      margin-bottom: 25px;
      margin-top: 25px;
    }

  }
}









@media screen and (min-width: 360px) and (max-width: 820px) {
  .sign_Login {
    background: url(../../assets/loginbackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .beedlogo {
      position: relative;
      width: 100%;

      img {
        margin-top: -120px;
        position: absolute;
        margin-left: 40px;
        width: 85px;
        height: 37px;
        flex-shrink: 0;
      }
    }


    .sign-form-div {
      margin-left: 0;
      flex-shrink: 0;
      border-radius: 23.106px;
      background: #fff;
      box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
      transform: translateY(10px);
      width: 100%;

      .Already {
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        gap: 0.7em;
        flex-direction: column;
       
        h3 {
          color: #000;
          font-family: "Montserrat", sans-serif;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.15px;
        }
        .Sign {
          .link {
            color: #de9b4a;
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.15px;
            text-decoration: none;
          }
        }
        .login-error-text{
          font-size: 11px;
          text-align: center;
          color:  #FF0000;
          margin-left: 0.5em;
          margin-bottom: 0.5em;
        }
      

      }

      .image {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 65.468px;
          height: 28.498px;
          flex-shrink: 0;
        }
      }

      .sign_LoginLogin {
        color: #242424;
        width: 190px;
        text-align: center;
        font-family: "Montserrat",sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 127%;
        margin: 0 auto;
      }

      .sign_Logininput-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 1.2em;


        .sign_Loginemail {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px solid #000;
          height: 53.269px;
          width: 80%;
          border-radius: 24.619px;
          top: 20px;

          .sign_LoginRiMailLine {
            margin-right: 12px;
          }

          input {
            height: 70%;
            width: 80%;
            border: none;
            outline: none;
            font-size: 16px;
          }
        }

        .sign_Loginpassword {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px solid #000;
          height: 53.269px;
          width: 80%;
          margin-top: 20px;
          border-radius: 24.619px;

          .sign_LoginGoEye {
            margin-right: 12px;
          }

          input {
            height: 70%;
            width: 80%;
            border: none;
            outline: none;
          }

        }
      }
      .sign_Login-next {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
          width: 70%;
          border-radius: 27.846px;
          background: #000;
          height: 48.942px;
          color: #fff;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          letter-spacing: 0.362px;
        }
        .word{
          margin-top: 10px;
        }

      }
    }
    .sign-in-terms-and-condition{
      padding: 25px 0;
      margin-left: 0;
      width: 85%;
      color: #FFF;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

}







/* desktop styling



 */
