@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body{
	font-style: inherit;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.faq-page-width{
    width: calc(100% - 5rem);
    padding: 15px 20px;
    margin: 30px auto;

    header{
        font-size: 34px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        color: rgb(107, 91, 255);
        text-align: center;
        margin: 0px 0px 15px 0;
        text-transform: uppercase;
    }
}

.faq-section{
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    height: 470px;

    .section{
        width: 49%;
        height: 100%;
        font-size: 13.5px;
        font-family: 'Manrope', sans-serif;

        .faq{
            padding: 15px;
            margin: 0px 0 20px 0;
            cursor: pointer;
            overflow: hidden;
            height: 3rem;
            border: 1px solid  rgba(0, 0, 0, 0.3);
            border-radius: 7px;
            

            .faq-question{
                font-weight: 600;
                align-items: center;
                display: flex;

                svg{
                    color:  rgb(107, 91, 255);
                    margin-right: 10px;
                }
                
                
            }
    
            .faq-answer{
                margin: 10px 0px 10px 0px;
                line-height: 23px;
            }
        }

        .faq.active{
            height: auto;
        }
        

    }
}



.faq.active .faq-answer{
    animation: fadeIn ease-in-out .1s;
}

.faq.active svg{
    transform: rotate(90deg);
    transition: ease-in-out .2s;
}


@keyframes fadeIn {
    0%{ opacity: 0; transform: translateY(10px);}
    100%{ opacity: 1; transform: translateY(0);}
}