*{
    position: relative;
}
.verify-page {
    background: url(../../assets/MacBookAir.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;    
    justify-content: center;
    align-items: center;
} 
.white-icon-image{
    position: relative;
    left: 30px;
    top: 56px;
}   
.form-holder{
    top:170px;
    background-color: #FFFFFF;
    color: #000;
    Width:362px;
    Height:317.33px;
    margin: auto;
    border-radius: 23.11px;
}
.verify-paragraph{
    width: 187.16px;
    height: 28px;  
}
.black-icon-image{
    top:24.56px;
    left:147.88px;
    right: 147.88px;
    
}
.verify-paragraph{
    top:19.26px;
    left:87.8px;
    right:87.8px;
    align-items: center;
    color: #242424;
    text-align: center;
    font-family: Montserrat;
    font-size: 10.783px;
    font-style: normal;
    font-weight: 500;
    width: 187.162px;
    margin-bottom: 15.9px;
}
.authorize button {
    width: 255.781px;
    height: 37.942px;
    background: #000;
    border: none;
    border-radius: 21.588px;
    color: #FFF;
    font-family: Inter;
    font-size: 14.05px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.281px;
    
}
.authorize{
    top: 30px;
    align-self: center;
    left:53.15px;
    right:53.15px;
}
.tiktiok-userame{
    color: #C4C4C4;
    font-family: Galvanizer;
    font-size: 13.083px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.262px;
    border-radius: 21.588px;
    border: 1.963px solid #3C3C3C;
    text-align: center;
    margin-top: 10px;;
    width: 255.781px;
    height: 37.942px;
    right: 53.11px;
    left:53.11px;
}

