.landing-page-navbar {
  display: flex;
  gap: 2rem;
  margin-top: 12px;

  .EarnNow {
    border-radius: 10.851px;
    background: #f00;
    width: 6em;
    height: 2em;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: #fff;
      font-family: "Helvetica Neue";
      font-size: 0.9em;
      font-style: normal;
      font-weight: 400;
      line-height: 16.377px;
      width: 60px;
      height: 16px;
    }
  }

  .Login {
    display: flex;
    width: 3em;
    height: 1em;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 8px;

    h2 {
      color: #fff;
      font-family: "Helvetica Neue";
      font-size: 0.9em;
      font-style: normal;
      font-weight: 400;
      line-height: 1em;
    }
  }
}
