.FaqCopyRight{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 2em;

  div{
    color: #A8AEB9;
    font-weight: 400;
    font-size: .8em;
    
  }

}